

 <div class="container">


    <mat-tab-group animationDuration="0ms">

        <mat-tab label="USER">
            <app-user-master></app-user-master>
        </mat-tab>



        <mat-tab label="ROLE">
            <div>
                <app-role-master></app-role-master>
            </div>
        </mat-tab>
        <mat-tab label="MODULE">
            <div>
                <app-module-master></app-module-master>
            </div>
        </mat-tab>
        <mat-tab label="SCREEN">
            <div>
                <app-screen-master></app-screen-master>
            </div>
        </mat-tab>


    </mat-tab-group>


</div> 


<!-- <div>
        <mat-toolbar >

                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                        
                         <li>
                          <a routerLink="/module-master">Module</a>
              
                        </li> 
            
                        <li>
                          <a routerLink="/screen-master">Screen</a>
              
                        </li> 
            
                        <li>
                            <a routerLink="/role-master">ROLE</a>
                
                          </li> 
            
                          <li>
                              <a routerLink="/user-master">USER</a>
                  
                            </li> 
            
                         
              
                      
                      </ul>
              
            </mat-toolbar>

            <router-outlet></router-outlet>
        </div> -->